@model Data.Entities.ContactEntity
@{
}
<h2>Szczegóły</h2>
<dl>
    <dt>ID</dt>
    <dd>@Model.ContactId</dd>
    <dt>Nazwa</dt>
    <dd>@Model.Name</dd>
    <dt>Data urodzenia</dt>
    <dd>@Model.Birth</dd>
    <dt>E-mail</dt>
    <dd>@Model.Email</dd>
    <dt>Telefon</dt>
    <dd>@Model.Phone</dd>
</dl>